<!DOCTYPE html>
<html ng-app="deliverEatApp">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Css/MiEstilo.css" />
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.css">
    <title>Deliver Eat</title>
</head>
<body class="fondo container-fluid" ng-controller="controller">
    <div class="jumbotron text-center bg-dark img-fluid">
        <h1 class="display-3">Deliver Eat</h1>
    </div>
    <h1 class="display-4">Registrar pedido "lo que sea"</h1>
    <br />
    <div class="container col-12">
        <div class="row">
        </div>
        <div class="row">
            <form ng-model="frmPedido" name="frmPedido" novalidate="novalidate">
                <div class="row">
                    <div class="container-fluid col-sm-7" id="contenedor">
                        <h1 class="display-5 ">Lugar del comercio</h1>
                        <br />
                        <div class="row">
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Calle:</span>
                                </div>
                                <input required ng-model="Pedido.DomicilioOrigen.Calle" type="text" class="form-control" maxlength="15" placeholder="Calle" />
                            </div>
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Número:</span>
                                </div>
                                <input required ng-model="Pedido.DomicilioOrigen.Numero" type="number" class="form-control" maxlength="4" placeholder="Número" />
                            </div>
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ciudad:</span>
                                </div>
                                <select required ng-model="CiudadOrigen" ng-options="ciudad.Nombre for ciudad in ciudades" class="custom-select" id="selectCiudades"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Descripcion:</span>
                                </div>
                                <input ng-model="Pedido.DomicilioOrigen.Descripcion" type="text" class="form-control" maxlength="30" placeholder="Indicar referencias si es necesario" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" ng-click="cargarOrigen()"><img src="Mapas/mapaOrigen.png" style='width:100%; max-width:400px' border="0" alt="Null" /></button>
                            </div>
                        </div>
                        <hr />

                        <h1 class="display-5">Lugar de Entrega</h1>
                        <br />
                        <div class="row">
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Calle:</span>
                                </div>
                                <input required ng-model="Pedido.DomicilioDestino.Calle" type="text" class="form-control" maxlength="15" placeholder="Calle" />
                            </div>
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Número:</span>
                                </div>
                                <input required ng-model="Pedido.DomicilioDestino.Numero" type="number" class="form-control" maxlength="4" placeholder="Número" />
                            </div>
                            <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ciudad:</span>
                                </div>
                                <select required ng-model="CiudadDestino" ng-options="ciudad.Nombre for ciudad in ciudades" class="custom-select" id="selectCiudades"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Descripcion:</span>
                                </div>
                                <input ng-model="Pedido.DomicilioDestino.Descripcion" type="text" class="form-control" name="nro" maxlength="30" placeholder="Indicar referencias si es necesario" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" ng-click="cargarDestino()"><img src="Mapas/mapaDestino.png" style='width:100%; max-width:400px'  border="0" alt="Null"/></button>
                            </div>
                        </div>
                        <hr />

                        <!--Si se selecciona efectivo solo aparece el monto si se selecciona tarjeta visa aparece los otros datos-->
                        <h1 class="display-5">Forma de pago</h1>
                        <br />
                        <div class="row">
                            <div class="radio col-12">
                                <label><input type="radio" name="tarjetaRadio" ng-click="tarjetaFlag = false" checked>Efectivo</label>
                            </div>
                            <div class="radio col-12">
                                <label><input type="radio" name="tarjetaRadio" ng-click="tarjetaFlag = true">Tarjeta VISA</label>
                            </div>
                        </div>

                        <div class="row" ng-show="!tarjetaFlag">
                            <div class="input-group col-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Monto: $</span>
                                </div>
                                <input ng-required="!tarjetaFlag" ng-model="Pedido.Monto" type="number" class="form-control" min="1" placeholder="Monto" />
                            </div>
                        </div>
                        <div class="row" ng-show="tarjetaFlag">
                            <div class="row col-12">
                                <div class="input-group col-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Numero de tarjeta:</span>
                                    </div>
                                    <input ng-required="tarjetaFlag" ng-model="Pedido.Tarjeta.Numero" type="text" class="form-control" pattern="^(\d{4}[- ]){3}\d{4}|\d{16}$" placeholder="Número tarjeta" />
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="input-group col-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Apellido y Nombre del titular: </span>
                                    </div>
                                    <input ng-required="tarjetaFlag" ng-model="Pedido.Tarjeta.NombreTitular" type="text" class="form-control" maxlength="15" placeholder="Apellido y Nombre del títular" />
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="row col-12">
                                    <label>Fecha vencimiento  </label>
                                </div>
                                <div class="row col-12">
                                    <div class="input-group mb-4 col-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Año: </span>
                                        </div>
                                        <input ng-required="tarjetaFlag" ng-model="Pedido.Tarjeta.Anio" type="number" class="form-control" min="19" />
                                    </div>
                                    <div class="input-group mb-4 col-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Mes: </span>
                                        </div>
                                        <input ng-required="tarjetaFlag" ng-model="Pedido.Tarjeta.Mes" type="number" class="form-control" min="1" max="12" />
                                    </div>
                                    <div class="input-group mb-4 col-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">CVC: </span>
                                        </div>
                                        <input ng-required="tarjetaFlag" ng-model="Pedido.Tarjeta.CVC" type="number" class="form-control" min="1" max="999" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <!--El campo tipo horario solo aparece si selecciona pedido de tipo Otro Horario-->
                        <h1 class="display-5">Fecha entrega</h1>
                        <br />
                        <div class="row">
                            <div class="radio col-12">
                                <label><input type="radio" name="horarioRadio" ng-click="horarioFlag = false" checked>Lo antes posible</label>
                            </div>
                            <div class="radio col-12">
                                <label><input type="radio" name="horarioRadio" ng-click="horarioFlag = true">Otro horario</label>
                            </div>
                        </div>
                        <div class="row" ng-show="horarioFlag">
                            <div class="input-group col-sm-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Horario de Entrega</span>
                                </div>
                                <input ng-required="horarioFlag" pattern="[0-9]{2}:[0-9]{2}" ng-model="Pedido.FechaHoraEntrega" type="time" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="input-group text-sm-center col-sm-12">
                            <div class="row">
                                <div id="containerBoton" class="col-sm-2">
                                    <button type="button" class="btn btn-success" id="boton" ng-disabled="frmPedido.$invalid || frmPedido.$pristine " ng-click="grabar()">Confirmar</button>
                                </div>
                                <div id="containerBoton" class="offset-sm-6 col-sm-2">
                                    <button type="button" class="btn btn-warning" id="boton" ng-click="limpiarFormulario()">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container col-sm-5" id="contenedor">
                        <h1 class="display-5">Artículo a transportar</h1>
                        <br />
                        <div class="conteiner">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group ">
                                        <input required ng-model="Pedido.Descripcion" type="text" class="form-control" placeholder="Describa el articulo" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Imagen:</span>
                                        </div>
                                        <input type="file" accept="image/*" class="form-control" onchange="angular.element(this).scope().cargarFoto(this.files)" placeholder="Agregue una imagen del producto" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="api/uploads/{{Pedido.Imagen}}" alt="No Se ha cargado una imagen" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <footer class="text-sm-center col-sm-12 ">
            <h2>Copyright &copy; Grupo 5</h2>
        </footer>
    </div>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/deliverEat.js"></script>
</body>
</html>